<!-- school/templates/cta.html -->

{% extends 'base.html' %}

{% block title %}Sign Up Today{% endblock %}

{% block cta %}
    <!-- CTA Section -->
    <section class="cta">
        <div class="container">
            <h2>Sign Up Today!</h2>
            <form>
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="submit" value="Sign Up" class="btn btn-primary">
            </form>
        </div>
    </section>
{% endblock %}
