/* school/static/styles.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f5ff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */
header {
  background-color: #007bff;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Navigation Styles */
/* Navigation Bar */
nav {
  background-color: #007BFF;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #f8f9fa;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #007bff;
  color: #fff;
  text-align: left;
}

/* Form Styles */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Button Styles */
/* Button Styles */
.btn {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px; /* Add some space between the list and the button */
  border-radius: 5px;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}


.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-danger:active {
  background-color: #bd2130;
}

/* Card Styles */
.card {
  max-width: 400px; /* Set your desired max-width for the card */
  margin: 0 auto; /* Center the card horizontally */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-header {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
}

.h2-create {
  text-align: center;
}

/* Add a class to push content below the footer */
.push-content {
  margin-bottom: 8rem; /* Set a margin to push content below the footer */
}

.pull-content {
  padding-top: 1rem; /* Set a margin to pull content above the footer */
}

/* Footer Section */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}